/*Created with Adobe RoboHelp 2019.*/
a {
	display: inline;
	font-family: "Segoe UI";
	color: #00528b;
	font-size: 14pt;
	text-decoration: underline;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	background-color: Transparent;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #800080;
	background-color: Transparent;
}
A.dropspot {
	cursor: hand;
	font-style: italic;
	color: #800000;
	background-color: Transparent;
	text-decoration: none underline;
}
A.glossterm {
	cursor: hand;
	font-style: italic;
	background-color: Transparent;
	color: #ff0000;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
	background-color: Transparent;
}
.mainTable {
	border: 0px;
	width: 950px;
	text-align: left "vertical-align:top";
}
.listItem {
	padding-bottom: 5px;
	font-family: "Segoe UI";
	font-size: 14pt;
}
h1 {
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	margin-top: 9.5pt;
	margin-bottom: 9.5pt;
	font-weight: bold;
	font-style: normal;
	x-next-class: ;
	x-next-type: p;
}
LI.h1 {
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-weight: bold;
	font-style: normal;
}
.h1Keyword {
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-weight: bolder;
}
h2 {
	line-height: 107%;
	background-color: Transparent;
	font-family: "Segoe UI";
	color: #00528b;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	text-decoration: none;
}
LI.h2 {
	font-family: Verdana;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
h3 {
	color: #000000;
	font-family: "Segoe UI";
	font-style: italic;
	font-weight: Bold;
	font-size: 14pt;
}
LI.h3 {
	font-family: Verdana;
	font-size: 11pt;
	color: #000000;
	font-weight: bold;
}
h4 {
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}
LI.h4 {
	font-size: 10pt;
	font-family: "Segoe UI";
	color: #00528b;
	font-weight: 500;
	font-weight: normal;
	font-style: normal;
}
h5 {
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}
LI.h5 {
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}
.sideNote {
	font-family: Verdana;
	font-size: 10pt;
	color: #B81F67;
	font-weight: bold;
}
.indent1 {
	padding-left: 1em;
}
.indent2 {
	padding-left: 2em;
}
.indent3 {
	padding-left: 3em;
}
.boxNote_r {
	width: 250px;
	float: right;
	clear: left;
}
.boxNote_l {
	width: 250px;
	float: left;
	clear: right;
}
.tableHeader {
	padding: 5px;
	border-left: 2px solid #123760;
	border-top: 2px solid #123760;
	border-bottom: 2px solid #73B5FF;
	border-right: 2px solid #73B5FF;
	font-family: Verdana;
	font-size: 12pt;
	font-weight: bold;
	background-color: Transparent;
	color: #000000;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	text-align: Left;
}
.tableCell {
	color: #000000;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10pt;
	padding: 2px;
	background-color: Transparent;
}
.tableNote {
	background-color: #1f60a9;
	padding: 0;
}
.figure {
	padding-left: 3em;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
	font-family: "Segoe UI";
	font-size: 14pt;
}
.figureCaption {
	padding-left: 3em;
	font-weight: bold;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
	font-family: "Segoe UI";
	font-size: 14pt;
}
.mainBody {
	text-align: left;
	width: 962px;
	height: 100%;
	margin: 0px;
}
.pageHead {
	text-align: center;
	vertical-align: top;
	margin: 0px;
	height: 20px;
	width: 962px;
}
.pageBody {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	margin: 0;
	vertical-align: top;
	color: #000000;
	text-align: Left;
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	line-height: 0%;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: Transparent;
	text-decoration: none;
}
.fullPage {
	height: 100%;
	vertical-align: top;
}
.logoICONICS_head {
	float: left;
	clear: right;
	margin: 8px 0 0 5px;
}
a.breadcrumbs {
	font-family: Arial, Verdana;
	display: inline;
	color: #1d8ac2;
}
a:link {
	background-color: Transparent;
	color: #0000ff;
	text-decoration: none underline;
}
a:visited {
	color: #6600CC;
	background-color: Transparent;
	text-decoration: none underline;
}
a:hover {
	background-color: Transparent;
	color: #800000;
	text-decoration: underline;
}
a:active {
	background-color: Transparent;
	color: #008000;
	text-decoration: none underline;
}
ul {
	padding-top: 5px;
	margin-left: 23px;
	font-family: Verdana;
	font-size: 10pt;
}
ol {
	padding-top: 5px;
	margin-left: 30px;
	font-family: Verdana;
	font-size: 10pt;
}
LI.p-indent {
}
LI.p {
	line-height: Normal;
	font-family: "Segoe UI";
	font-size: 14pt;
}
img {
	border: 0px;
	text-decoration: none;
}
/* Start Page formatting */
.hr {
	width: 100%;
	height: 1px;
	background-color: #999999;
}
.link_caption {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
}
.help_img_start {
	text-align: center;
	height: 80px;
}
.introHeader {
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-weight: bold;
	font-style: normal;
}
.pageStartHead {
	text-align: center;
	vertical-align: top;
	margin: 0px;
	height: 90px;
	width: 962px;
}
.pageStartBody {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	text-align: center;
}
SPAN.Code {
	font-family: "Courier New", monospace;
	font-size: 14pt;
}
LI.P-NumberedList {
	font-family: "Segoe UI";
	font-size: 14pt;
	list-style: decimal;
}
h1 {
	font-family: "Segoe UI";
	color: #00528b;
	font-size: 20pt;
}
LI.H1 {
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-style: normal;
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-family: Verdana;
	font-size: 16pt;
	color: #1f60a9;
	font-family: Verdana, sans-serif;
	text-align: left;
	font-weight: bold;
}
P.Comment {
	font-size: 12pt;
	background-color: #ffff00;
}
LI.P-Comment {
	font-size: 12pt;
}
p.tableCell {
	text-align: left;
	background-color: Transparent;
}
LI.p-tableCell {
	text-align: left;
}
BODY {
	font-size: 10pt;
	background-color: Transparent;
}
p.Body {
	color: #000000;
	margin-bottom: 0.5pt;
	margin-top: 0.5pt;
}
LI.P-Body {
	color: #000000;
	font-size: 10pt;
	line-height: 150%;
}
P.Bulletlist {
	color: #000000;
	margin-top: 0pt;
	margin-bottom: 0pt;
	list-style: lower-alpha;
	list-style: disc;
	line-height: Normal;
}
LI.P-Bulletlist {
	color: #000000;
	list-style: lower-alpha;
	list-style: disc;
	line-height: Normal;
	font-family: "Segoe UI";
	font-size: 14pt;
}
DIV.droptext {
	font-weight: bold;
	font-style: normal;
	color: #800000;
}
A.popupspot {
	color: #ff0000;
	background-color: Transparent;
}
p.tableHeader {
	font-size: 10pt;
}
LI.p-tableHeader {
	font-size: 10pt;
}
p.figureCaption {
	font-weight: bold;
	font-size: 14pt;
}
rh-list.Bullets {
	x-lvl-1-type: disc;
	x-lvl-1-format: "<x>";
	x-lvl-2-type: square;
	x-lvl-2-format: "<x>";
	x-lvl-2-margin: 20px;
	x-lvl-3-type: circle;
	x-lvl-3-format: "<x>";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: diamond;
	x-lvl-4-format: "<x>";
	x-lvl-4-margin: 60px;
	x-lvl-5-type: disc;
	x-lvl-5-format: "<x>";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: square;
	x-lvl-6-format: "<x>";
	x-lvl-6-margin: 100px;
	x-lvl-7-type: circle;
	x-lvl-7-format: "<x>";
	x-lvl-7-margin: 120px;
	x-lvl-8-type: diamond;
	x-lvl-8-format: "<x>";
	x-lvl-8-margin: 140px;
	x-level-count: 9;
	x-lvl-9-type: disc;
	x-lvl-9-format: "<x>";
	x-lvl-9-margin: 160px;
	x-lvl-9-pfx-class: rls-9-Bullets;
	x-lvl-1-pfx-class: rls-1-Bullets;
	x-lvl-2-pfx-class: rls-2-Bullets;
	x-lvl-3-pfx-class: rls-3-Bullets;
	x-lvl-4-pfx-class: rls-4-Bullets;
	x-lvl-5-pfx-class: rls-5-Bullets;
	x-lvl-6-pfx-class: rls-6-Bullets;
	x-lvl-7-pfx-class: rls-7-Bullets;
	x-lvl-8-pfx-class: rls-8-Bullets;
}
span.rls-9-Bullets {
	font-size: 8pt;
}
span.rls-1-Bullets {
	font-family: "Segoe UI";
	font-size: 14pt;
}
span.rls-2-Bullets {
	font-size: 12pt;
}
span.rls-3-Bullets {
	font-size: 12pt;
}
span.rls-4-Bullets {
	font-size: 12pt;
}
span.rls-5-Bullets {
	font-size: 10pt;
}
span.rls-6-Bullets {
	font-size: 10pt;
}
span.rls-7-Bullets {
	font-size: 10pt;
}
span.rls-8-Bullets {
	font-size: 10pt;
}
table.AlternateBlueColorGrid {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #4F81BD;
}
table.AlternateBlueColorGrid td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateBlueColorGrid tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
}
table.AlternateBlueColorGrid tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #D3DFEE;
}
table.AlternateBlueWithHeader {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	x-1st-row: 1;
	x-1st-row-name: t1st;
}
table.AlternateBlueWithHeader td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateBlueWithHeader tr.t1Row td {
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: 4f81bd;
}
table.AlternateBlueWithHeader tr.t2Row td {
	background-color: #D3DFEE;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: 4f81bd;
}
table.AlternateBlueWithHeader tr.t1st td {
	background-color: #4F81BD;
}
table.MultiBandBlue {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #4F81BD;
	x-row-pat-count: 3;
	x-row-pat-3: 1;
	x-row-pat-3-name: t3Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
}
table.MultiBandBlue td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.MultiBandBlue tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #DBE5F1;
}
table.MultiBandBlue tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #B8CCE4;
}
table.MultiBandBlue tr.t3Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #95B3D7;
}
table.MultiBandBlue tr.t1st td {
	background-color: #4F81BD;
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: 4F81BD;
	color: #ffffff;
	font-weight: bold;
}
table.AlternateGreyColoredGrid {
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
}
table.AlternateGreyColoredGrid td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateGreyColoredGrid tr.t1Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	font-family: "Times New Roman";
	font-size: 12pt;
}
table.AlternateGreyColoredGrid tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-color: #c0c0c0;
}
p.heading2_edit {
	color: #00528b;
	margin-bottom: 5pt;
	font-size: 18pt;
}
p {
	font-family: "Segoe UI";
	color: #000000;
	margin-top: 0.5pt;
	margin-bottom: 0.5pt;
	font-size: 14pt;
}
li.list-style:_decimal; {
}
li.decimal {
	font-family: "Segoe UI";
	font-size: 14pt;
}
